@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono&display=swap");
$color-nav: white;
$color-active: #f0f0f0;
$font-poppin: "Poppins";
$lightBlue: royalblue;
$darkBlue: rgb(28, 51, 121);
$lightRed: red;
$darkRed: rgb(117, 23, 23);

@keyframes sembul {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes sembul_bawah {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes sembul_kiri {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes sembul_kanan {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: $font-poppin;
}
body {
  overflow-x: hidden;
}
.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/bg.jpeg);
  background-size: cover;
  height: 115vh;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    height: 80px;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 70px;
        margin-right: 15px;
      }
      h1 {
        color: $color-nav;

        font-weight: bold;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 300px;
      .parent-li {
        list-style: none;
        height: 70px;
        line-height: 70px;
        position: relative;
        &::before {
          content: "";
          background-color: $color-nav;
          position: absolute;
          width: 0;
          height: 4px;
          bottom: 18px;
          transition: 0.3s;
        }
        &:hover::before {
          width: 100%;
        }
        .active::before {
          content: "";
          background-color: $color-nav;
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: 18px;
          transition: 0.5s;
        }
        a {
          text-decoration: none;
          color: $color-nav;
        }
      }
    }
    .dropdown {
      height: 75px;
      a {
        cursor: pointer;
      }
      .logo-dropdown {
        width: 12px;
        transform: translateY(2px);
        margin-left: 1px;
        transition: 0.5s;
      }
      &:hover .logo-dropdown {
        transform: rotate(180deg);
      }
      ul {
        display: none;
        &::before {
          content: " ";
          width: 10px;
          height: 10px;
          background-color: $color-nav;
          position: absolute;
          left: 203px;
          top: -5px;
          transform: rotate(45deg);
        }

        li {
          padding: 0 5px;
          height: 50px;
          list-style: none;
          border-radius: 10px;
          margin-top: 10px;
          font-size: 14px;
          line-height: 50px;
          a {
            color: black;
          }
          img {
            width: 22px;
          }
          hr {
            margin-top: -12px;
            border-top: 2px solid black;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          }
        }
      }
      &:hover ul {
        display: block;
        position: absolute;
        top: 70px;
        right: -35px;
        background-color: white;
        width: 270px;
        border-radius: 17px;
        padding: 0px 15px 10px 15px;
        z-index: 999;
        li:hover {
          transform: scale(105%);
          transition-duration: 0.2s;
          background-color: $color-active;
        }
      }
    }
  }
  .content {
    display: flex;
    .content-text {
      width: 550px;
      margin-top: 200px;
      margin-left: 50px;
      p {
        font-size: 50px;

        color: $color-active;
        letter-spacing: 1px;
      }
    }
    .content-img {
      position: relative;
      left: 300px;
      top: 100px;
      .img-1,
      .img-2,
      .img-3,
      .img-4 {
        position: absolute;

        .img-a {
          display: block;
          width: 217px;
          height: 191px;
          position: relative;
          transition: 0.5s;
          color: white;

          border: 2px solid white;
          box-shadow: 8px 8px 20px rgb(42, 42, 42);
          span {
            display: none;
            width: 217px;
            height: 191px;
            background-color: #0000006c;
            position: absolute;
            top: 0;
            .icon-eye {
              margin: 75px auto;
              text-align: center;
              img {
                width: 35px;
              }
            }
          }
          &:hover {
            transform: scale(110%) translateY(-15px);
            z-index: 1;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0);
          }
          &:hover span {
            display: flex;
          }
        }
        a,
        a img,
        a span {
          border-radius: 12px;
        }
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0);
          display: flex;
          justify-content: center;
          transition: 0.2s;
          .img {
            display: none;
            opacity: 0;
          }
          .a-cancel {
            display: none;
            width: 30px;
            height: 30px;
          }
          .next,
          .back {
            display: none;
          }
        }
        .overlay:target {
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.8);
          backdrop-filter: blur(10px);
          z-index: 999;
        }
        .overlay:target .img {
          display: block;
          opacity: 100%;
          height: 90vh;
          margin-top: 35px;
          border: 3px solid white;
          animation: sembul 0.3s;
        }
        .overlay:target .a-cancel {
          display: block;
          animation: sembul_bawah 1s forwards;
          i {
            margin-top: 40px;
            margin-left: -40px;
            color: white;
          }
          i:hover {
            color: #ff0000;
            transform: scale(90%);
          }
        }
        .overlay:target .next {
          display: block;
          position: absolute;
          top: 50%;
          right: 250px;
          animation: sembul_kanan 1s forwards;
          i {
            color: white;
          }
          i:hover {
            color: #2c61d4;
          }
        }
        .overlay:target .back {
          display: block;
          position: absolute;
          top: 50%;
          left: 220px;
          animation: sembul_kiri 1s forwards;
          i {
            color: white;
          }
          i:hover {
            color: #2c61d4;
          }
        }
      }
      .img-1 {
        top: -60px;
        right: -150px;
      }
      .img-2 {
        top: 90px;
        left: -220px;
      }
      .img-3 {
        bottom: 0;
        left: -50px;
      }
      .img-4 {
        bottom: 150px;
        right: -320px;
      }
    }
  }
}

// content pembuka

.container-pembuka {
  padding: 0 50px 0 50px;
  box-shadow: 0 -30px 30px 30px rgb(255, 255, 255);
  .content-bg {
    position: relative;
    z-index: -100;
    .vector1 {
      position: absolute;
      top: 65px;
      left: -50px;
    }
    .vector2 {
      position: absolute;
      top: 200px;
      left: -50px;
    }
    .vector3 {
      position: absolute;
      top: 353px;
      margin-left: -50px;
    }
    .vector4 {
      position: absolute;
      top: 73px;
      right: 0;
      margin-right: -50px;
    }
    .vector5 {
      position: absolute;
      top: 183px;
      right: 0;
      margin-right: -50px;
    }
  }
  .content-header {
    h6 {
      font-size: 50px;
      text-decoration: 3px underline black;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
  .content-texts {
    font-size: 16px;

    text-align: justify;
  }
  .box-number {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    width: 99vw;
    margin-left: -48px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
    .box1,
    .box2,
    .box3 {
      width: 108px;
      height: 107px;
      border: 10px solid white;
      border-left: 10px solid #2c61d4;
      border-right: 10px solid #2c61d4;
      border-bottom: 10px solid #2c61d4;
      border-radius: 50%;
      text-align: center;

      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
      h4 {
        font-size: 30px;
      }
    }
    .box2 {
      border: 10px solid white;
      border-left: 10px solid #2c61d4;
      border-right: 10px solid white;
      border-bottom: 10px solid #2c61d4;
      box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .box3 {
      border: 10px solid white;
      border-left: 10px solid #2c61d4;
      border-right: 10px solid white;
      border-bottom: 10px solid white;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
    }
    .box-text {
      p {
        font-size: 18px;

        text-align: center;
        margin-top: 10px;
      }
      .p-last {
        margin-left: -30px;
      }
    }
  }
}

// content visi misi

.judul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin: 40px auto;
  img {
    width: 10%;
    margin-left: -120px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
    margin-left: 45px;
  }
}
.cardWrapper {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
    flex-wrap: wrap;
    width: 700px;
    background: white;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);

    border-radius: 30px;
    p {
      max-width: 80%;
      text-align: justify;
      margin-top: 80px;
      margin-bottom: 20px;
    }
    .red {
      background: $lightRed;
      &::after {
        background: $lightRed;
      }
      &::before {
        background: $darkRed;
      }
    }
    span {
      position: absolute;
      top: 30px;
      left: -15px;
      width: 200px;
      height: 40px;
      background: $lightBlue;
      border-radius: 30px;
      border-bottom-left-radius: 0;
      h1 {
        position: absolute;
        color: white;
        top: 2px;
        left: 20px;
        line-height: 40px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        width: 15px;
        height: 30px;
        background: $darkBlue;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 2;
      }
      &::after {
        content: "";
        position: absolute;
        top: 40px;
        width: 15px;
        height: 15px;
        background: $lightBlue;
      }
    }
  }
}
.moto {
  display: block;
  text-align: center;
  max-width: 40%;
  margin: auto;

  h1 {
    font-size: 35px;
  }
  p {
    margin-top: 20px;

    font-size: 20px;
    align-items: center;
    line-height: 50px;
  }
  hr {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 30px auto;
  }
}
// content jurusan yang kita miliki

.container-main-box {
  position: relative;
  height: 100vh;
  .background {
    .layer {
      position: absolute;
      top: -50px;
      left: -50%;
      width: 50%;
      height: 120vh;
      z-index: -5;

      &.layer1 {
        background-color: #7da8e9;
        transform: skewX(-50deg) translateX(-40%) translateY(10%);
        z-index: -6;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      }
      &.layer2 {
        background-color: #3468ed;
        transform: skewX(-50deg) translateX(-20%) translateY(10%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 25);
        z-index: -7;
      }
    }

    .layerTwo {
      position: absolute;
      top: -60px;
      left: 50%;
      width: 50%;
      height: 120vh;
      z-index: -5;
      overflow-y: hidden;

      &.layerTwo1 {
        background-color: #3468ed;
        transform: skewX(-50deg) translateX(140%) translateY(10%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 25);
        z-index: -7;
      }
      &.layerTwo2 {
        background-color: #7da8e9;
        transform: skewX(-50deg) translateX(157%) translateY(10%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 25);
        z-index: -6;
      }
    }

    .bg1 {
      position: absolute;
      width: 1582px;
      height: 134px;
      top: 15px;
      left: -15%;
      z-index: -100;
    }

    .bg2 {
      position: absolute;
      width: 1527px;
      height: 185px;
      bottom: -100px;
      left: -10%;
      z-index: -100;
    }
    .bg3 {
      position: absolute;
      width: 1582px;
      height: 173px;
      top: -20%;
      left: -10%;
      z-index: -100;
    }

    .container-title {
      // margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      & h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 66px;
        text-align: center;
        background-color: #ffff;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        font-family: "Poppins", sans-serif;
      }
    }

    .container-card {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 80px 0;

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        .box {
          width: 311px;
          height: 411px;
          box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
          background-color: #ffff;
          border-radius: 23px;
          margin-top: 20px;

          .img img {
            width: 311px;
            height: 206px;
            border-radius: 23px;
          }

          .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
              height: 61px;
              width: 61px;
            }
          }

          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;

            & p {
              font-size: 24px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
            }
          }

          .button {
            display: flex;
            justify-content: center;
            align-items: center;

            & p {
              font-size: 25px;
              height: 40px;
              width: 240px;
              margin-top: 20px;
              box-shadow: 0 0 16px rgba(0, 0, 0, 0.25px);
              border-radius: 20px;
              color: #3468ed;
              text-align: center;
              font-family: "poppins", sans-serif;
              font-weight: 400;
              text-decoration: underline;
              transition: 0.2s;
              cursor: pointer;
            }

            & p:hover {
              background-color: #3468ed;
              color: white;
              box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.34px);
            }
          }
        }
      }

      .card:hover {
        transform: translateY(-2%) scale(101%);
      }

      .card-mid:hover {
        transform: translateY(-2%) scale(101%);
      }

      .card-mid {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        .box {
          width: 311px;
          height: 411px;
          box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
          border-radius: 23px;
          margin-bottom: 80px;
          background-color: #ffff;

          .img img {
            width: 311px;
            height: 206px;
            border-radius: 23px;
          }

          .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
              height: 61px;
              width: 61px;
            }
          }

          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;

            & p {
              font-size: 24px;
              font-family: "Poppins", sans-serif;
              font-weight: 400;
            }
          }

          .button {
            display: flex;
            justify-content: center;
            align-items: center;

            & p {
              font-size: 25px;
              height: 40px;
              width: 240px;
              margin-top: 20px;
              box-shadow: 0 0 16px rgba(0, 0, 0, 0.25px);
              border-radius: 20px;
              text-align: center;
              color: #3468ed;
              font-family: "poppins", sans-serif;
              font-weight: 400;
              text-decoration: underline;
              transition: 0.2s;
              cursor: pointer;
            }

            & p:hover {
              background-color: #3468ed;
              color: white;
              box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.25px);
            }
          }
        }
      }
    }
  }

  footer {
    .fo-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 199px;
      background-color: #292929;
      box-shadow: 0 -5px 23px rgba(0, 0, 0, 0.25);

      .fo-logo img {
        width: 84px;
        height: 80px;
        margin: 10px 20px;
      }

      .logo-title {
        margin-left: -50px;
        & .title {
          margin-top: 20px;
          font-size: 43px;

          font-weight: 400;
          text-decoration: none;
        }

        & p {
          width: 60%;
          font-size: 20;

          text-decoration: underline;
          color: #ffff;
        }
      }

      .social-media {
        width: 300px;
        height: 100px;
        margin-top: 30px;
        margin-right: 30px;
        & p {
          font-size: 36px;

          font-weight: 400;
          color: #5182ed;
          text-align: center;
        }

        & img {
          width: 69px;
          height: 69px;
          cursor: pointer;
          transition: 0.2s;
        }

        & img:hover {
          transform: translateY(-4%);
        }

        .so-logo {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          align-items: center;
        }
      }
    }

    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 57px;
      background-color: #242323;
      box-shadow: 0 -5px 4px rgba(0, 0, 0, 0.25);

      .co-logo img {
        width: 28px;
        height: 28px;
        margin-right: 10px;
      }

      .co-text {
        font-weight: 400;
        color: #ffff;
      }

      .bonus-logo img {
        width: 28px;
        height: 28px;
        margin-left: 10px;
      }
    }
  }
}
